.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}

.modal-inner{
    position: relative;
    background-color: #fff;
    border: 1px solid #888;
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    text-align: center; 
    z-index: 2;
}


.modal-item:first-child{
    border-bottom: 1px solid #DBDBDB;
    padding: 15px 0;
}

.modal-item:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30% 0 35%;
}

.modal-item h3{
    font-weight: 600;
}

.modal-item h2{
    font-size: 18px;
    font-weight: 600;
}

.custom-file-upload {
    display: inline-block;
    background-color: #0095F6;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
  }
  
.custom-file-upload input{
    display: none;
}
  
.custom-file-upload:hover {
    background-color: #0077D4;
}
  

.post-modal{
    max-width: 70%;
    height: 90vh;
    display: flex;
    border-radius: 0 4px 4px 0;
    border: none;
}

.post-modal-item{
    width: 50%;
}

.post-modal-item:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-modal-item:last-child{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 10px;
    border-bottom: 1px solid #DBDBDB;
}

.post-header-author{
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-header img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.post-header-author img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
}

